/* Header */

header{
    width: 100%;
    background-color: #ee6e73;
}

.navBar{
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.divPesquisa{
    display: inherit;  
    border: solid 2px;
    border-radius: 15px;
    padding: 0px 10px;
    align-items: center;
}
#pesquisa{
    margin: 0;
    color: white;
    background-color:transparent;
    font-style:italic;
    border:none;

}

/* Menu Header */

.navBar div.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav-item:hover{
    background-color: #BA5659;
    box-shadow: 5px 5px rgba(83, 83, 83, 0.521);
} 

/* SubMenu Header */

.navMenu .navSubMenu{
    display: none;
    position: absolute;
}
.navMenu .nav-item:hover .navSubMenu{
    background: #BA5659;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}


/* DekasConfeitaria Page */

div.container{
    margin-top: 100px;

    text-align: center;
}

/* Contrutor Produto */
#produto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

img{
    width: 300px;
    height: 300px;
    border-radius: .75rem;
    object-fit: cover;
}

tr.col{
    border: none;
}

/* Div Pesquisa em Lista */

.divPesquisaLista{
    width: 33%;
    
    display: flex;
    flex-direction: row;  
    border: solid 2px;
    border-radius: 15px;
    padding: 0px 10px;
    align-items: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

#pesquisaLista{
    margin: 0;
    color: rgb(0, 0, 0);
    background-color:transparent;
    font-style:italic;
    border:none;
    

}

/* Mensagem de Erro */
.msgErro{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-style: italic;
    font-size: large;
}

/* Modal */

div.modal div.modal-footer{
    text-align: center;
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.divCentro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

input[type='file']{
    display: none;
}

div img{
    border-radius: 2.5rem;
    width: var('img');
    padding: .95rem;
    background-color: #ee6e722d;
}